SUPABASE_URL=
SUPABASE_KEY=
OPENAI_API_KEY=
GROQ_API_KEY=
GEMINI_API_KEY=
HUGGINGFACE_API_KEY=
VOYAGE_API_KEY=
EMBED_MODEL_PROVIDER=   # openai, hf, voyage, local
LLM_PROVIDER=           # openai, groq, gemini
