# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.venv/

# Environment & secrets
.env
.env.*
*.key
*.secret

# IDE configs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Build
dist/
build/
*.egg-info/

# Cache
.pytest_cache/
coverage/
cache/

# Byte-compiled / virtualenv
*.egg
.eggs/
pip-log.txt
pip-delete-this-directory.txt

# Node (untuk frontend / widget)
node_modules/
